<!-- Button to trigger modal -->
<a href="#myModal2" role="button" class="btn" data-toggle="modal">Upload Picture</a>
 
<!-- Modal -->
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Choose a picture</h3>
  </div>
  <div class="modal-body">
    <%= form_for (Image.new), :html => { :multipart => true } do |f| %>
    <%= f.file_field :image_url %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary"><%= f.submit %></button>
    <% end %>
  </div>
</div>
